In [1]:
import pandas as pd

In [5]:
import pandas as pd

# Reemplaza 'ruta/al/archivo.csv' con la ruta real del archivo descargado
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv', delimiter= '/')

# Muestra las primeras filas del DataFrame
print(df.head())

                                                   PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A                                         5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Bri...                                                NaN
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON                                O2. 3101282,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May P...                                                NaN
5,0,3,"Allen, Mr. William Henry",male,35,0,0,37...                                                NaN